.header {
  padding: var(--spaceL) var(--spaceOuter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--rgbBackground);
  z-index: var(--zIndex5);
  transition: var(--backgroundChangeTransitionXS);

  @media (--mediaMobile) {
    backdrop-filter: blur(100px);
    background: calc(var(--rgbBackground) / 0.9);
  }
}

.logo {
  & .logoText {
    text-decoration: none;
  }
}